{% extends "project.html" %}

{% block content %}
	<table class="table table-striped"  align=center>
		 <h1 align="center">Address Details</h1>
		 <br>
		 <br>
		 <button class="btn btn-default active"><a href="{% url 'address_add_html' %}">Add Address</a></button>

		 <br>
		 <br>
	{% if address %}
		<thead class="thead-light">
		<tr><td>country</td><td>fullnamw</td><td>mobileno</td><td>pincode</td><td>city</td><td>street</td><td>landmark</td><td>state</td><td>address_type</td></tr>
		</thead>
	    {% for add in address %}
	    <tr>

            <td>{{ add.country }}</td>
            <td>{{add.fullname}}</td>
            <td>{{add.mobileno}}</td>
            <td>{{add.pincode}}</td>
            <td>{{add.city}}</td>
            <td>{{add.street}}</td>
            <td>{{add.landmark}}</td>
            <td>{{add.state}}</td>
			<td>{{add.address_type}}</td>

		 <td><a href="{% url 'address_html' add.id %}/edit" >edit</a></td>
		 <td><a href="{% url 'address_html' add.id %}/delete" >delete</a></td>
		<td>
			<a href="{% url 'place_order' %}" class="btn btn-info btn-md">
				 Confirm
			</a>
		</td>
            </tr>
		{% endfor %}
	{% else %}
	    <p>No Address given.</p>
	{% endif %}
	</table>
{% endblock %}



