{% extends "project.html" %}

{% block content %}
<div class="container">
		 <h1 align="center">Address Details</h1>
	<h3 style="color:red;">If you want to place your order for items in cart,only then Click Confirm,else donot click confirm</h3>
		 <br>
		 <br>
	<div align="center">
		 <button class="btn btn-default active" ><a href="{% url 'address_add_html' %}">Add Address</a></button>
	</div>
		 <br>
		 <br>

	{% if address %}
	<div class="container">
			<div class="row">
	    {% for add in address %}
		<div class="col-md-4 responsive" id={item.id}>
			<div class="thumbnail">
			<p><b>{{add.fullname}}</b></p>
			<p>{{add.street}}</p>
			<p>{{add.landmark}}, {{add.city}}</p>
			<p>{{add.state}} {{add.pincode}}</p>
			<p>Phone Number:{{add.mobileno}}</p>

		 <a class="btn btn-info btn-sm" href="{% url 'address_html' add.id %}/edit" >edit</a>

		 <a class="btn btn-info btn-sm" href="{% url 'address_html' add.id %}/delete" >delete</a>

			<a href="{% url 'place_order' %}" class="btn btn-info btn-md">
				 Confirm
			</a>

			</div>
			</div>
	<div class="col-md-6">

	</div>
		{% endfor %}
			</div>
	</div>
	{% else %}
	    <p>No Address given.</p>
	{% endif %}
	</div>
{% endblock %}



